//
//	1. IMPORTS
//-------------------------------------------------------------------------------------------------------------|

	@import '../helpers/variables';
	@import '../helpers/keyframes';
	@import '../helpers/mixins';

//	2. HEADER
//-------------------------------------------------------------------------------------------------------------|

#content {
	z-index: 			100;
	background: 		transparent;
	margin-top: 		-25px;

	> aside {
		@include 			transform(skewY(-1.5deg));
		background: 		$WHITE;
		height:				200px;
		border-top:			3px solid red;

		> div:not(.showcase) {
			@include 			transform(skewY(1.5deg));
		}
	}

}

.showcase {
	//@include 			transform(skewY(-1.5deg));
	box-sizing: border-box;
	padding: 5px;
	float: left;
	width:			50%;
	height:			300px;
	background:		$YELLOW;

}