//
//	1. IMPORTS
//-------------------------------------------------------------------------------------------------------------|

	@import '../helpers/variables';
	@import '../helpers/keyframes';
	@import '../helpers/mixins';

//	2. HEADER
//-------------------------------------------------------------------------------------------------------------|

header {
	position:				relative;
	height:					110%;
	background: 			url(#{$IMAGES}/layout/header-background-workbench.jpg) center center no-repeat;
	background-size: 		cover;
	text-align: 			center;

	section {
		@include 				absolute(top 45% left 50%);
		@include 				transform((translateY(-50%) translateX(-50%)));

		.logo {
			@include 				size(200px, 165px);
			display:				inline-block;
			background:				url(#{$IMAGES}/logo/logo-white@200px.png) transparent no-repeat;

			@media screen and (max-width: 320px) {
				@include size(100px, 82px);
				background-size: contain;
			}
		}

		h1 {
			margin:					50px 0 0 0;
			font-size: 				20px;
			text-transform: 		uppercase;
			line-height: 			1.5em;
			color:					rgba(112, 112, 112, 1.0);

			.white {
				color:					$WHITE;
			}

			@media screen and (max-width: 320px) {
				font-size: 12px;
			}
		}

		@media screen and (max-width: 320px) {
			top: 40%;
			width: 70%;
		}
	}

	#scroll {
		@include 			size(100px);
		position: 			absolute;
		bottom:				75px;
		left:				25px;
		background: 		transparent url(#{$IMAGES}/graphics/mouse.png) no-repeat top center;
		background-size: 	40px;
		padding: 			50px 0 0 0;
		box-sizing: 		border-box;
		font-size: 			12px;
		text-transform: 	uppercase;
		animation: 			pulse 2s ease-in-out infinite;

		&:before {
			content:			'Scroll';
		}

		@media screen and (max-width: 320px) {
			zoom: 0.65;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
}