html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0 0 0.5em 0; }

h1 {
  font-size: 1.6em;
  margin: 0 0 0.5em 0; }

h2 {
  font-size: 1.4em;
  margin: 0 0 0.5em 0; }

h3 {
  font-size: 1.2em;
  margin: 0 0 0.5em 0; }

h4 {
  font-size: 1.0em;
  margin: 0 0 0.5em 0; }

h5 {
  font-size: 0.8em;
  margin: 0 0 0.5em 0; }

h6 {
  font-size: 0.8em;
  margin: 0 0 0.5em 0; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; }
  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; } }
html {
  height: 100%; }

body {
  height: 100%; }

#page {
  height: 100%; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; }
  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; } }
header {
  position: relative;
  height: 105%;
  background: url(../../images/layout/header-background.jpg) center center no-repeat fixed;
  background-size: cover;
  text-align: center; }
  header section {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%); }
    header section .logo {
      width: 200px;
      height: 165px;
      display: inline-block;
      background: url(../../images/logo/logo-white@200px.png) transparent; }
    header section h1 {
      margin: 50px 0 0 0;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 1.5em;
      color: #707070; }
      header section h1 .white {
        color: white; }
  header #scroll {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 50px;
    left: 25px;
    background: transparent url(../../images/graphics/mouse.png) no-repeat top center;
    background-size: 40px;
    padding: 50px 0 0 0;
    box-sizing: border-box;
    font-size: 12px;
    text-transform: uppercase;
    animation: pulse 2s ease-in-out infinite; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; }
  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; } }
#content {
  z-index: 100;
  background: transparent;
  margin-top: -25px; }
  #content > aside {
    position: relative;
    background: white;
    height: 200px; }
    #content > aside:before {
      -webkit-transform: skewY(-1.5deg) translateY(-50%);
      -ms-transform: skewY(-1.5deg) translateY(-50%);
      transform: skewY(-1.5deg) translateY(-50%);
      content: '';
      position: absolute;
      width: 100%;
      height: 50px;
      background: #a95151; }

/*# sourceMappingURL=global.css.map */
