html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0 0 0.5em 0; }

h1 {
  font-size: 1.6em;
  margin: 0 0 0.5em 0; }

h2 {
  font-size: 1.4em;
  margin: 0 0 0.5em 0; }

h3 {
  font-size: 1.2em;
  margin: 0 0 0.5em 0; }

h4 {
  font-size: 1.0em;
  margin: 0 0 0.5em 0; }

h5 {
  font-size: 0.8em;
  margin: 0 0 0.5em 0; }

h6 {
  font-size: 0.8em;
  margin: 0 0 0.5em 0; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; }
  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; } }
@keyframes showcase-zoom {
  0% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); } }
html {
  height: 100%; }

body {
  height: 100%; }

#page {
  height: 100%; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; }
  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; } }
@keyframes showcase-zoom {
  0% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); } }
header {
  position: relative;
  height: 110%;
  background: url(../../images/layout/header-background-workbench.jpg) center center no-repeat;
  background-size: cover;
  text-align: center; }
  header section {
    top: 45%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%); }
    header section .logo {
      width: 200px;
      height: 165px;
      display: inline-block;
      background: url(../../images/logo/logo-white@200px.png) transparent no-repeat; }
      @media screen and (max-width: 320px) {
        header section .logo {
          width: 100px;
          height: 82px;
          background-size: contain; } }
    header section h1 {
      margin: 50px 0 0 0;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 1.5em;
      color: #707070; }
      header section h1 .white {
        color: white; }
      @media screen and (max-width: 320px) {
        header section h1 {
          font-size: 12px; } }
    @media screen and (max-width: 320px) {
      header section {
        top: 40%;
        width: 70%; } }
  header #scroll {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 75px;
    left: 25px;
    background: transparent url(../../images/graphics/mouse.png) no-repeat top center;
    background-size: 40px;
    padding: 50px 0 0 0;
    box-sizing: border-box;
    font-size: 12px;
    text-transform: uppercase;
    animation: pulse 2s ease-in-out infinite; }
    header #scroll:before {
      content: 'Scroll'; }
    @media screen and (max-width: 320px) {
      header #scroll {
        zoom: 0.65;
        left: 0;
        right: 0;
        margin: auto; } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; }
  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9; } }
@keyframes showcase-zoom {
  0% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); } }
#content {
  z-index: 100;
  background: transparent;
  margin-top: -25px; }
  #content > aside {
    -webkit-transform: skewY(-1.5deg);
    -ms-transform: skewY(-1.5deg);
    transform: skewY(-1.5deg);
    padding: 6px 0 0 0;
    background: white;
    height: 300px; }
    #content > aside > div:not(.showcase) {
      -webkit-transform: skewY(1.5deg);
      -ms-transform: skewY(1.5deg);
      transform: skewY(1.5deg); }

.showcase {
  height: 300px;
  position: relative;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  border-bottom: 3px solid white; }
  .showcase .showcase-inner {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .3s ease-out; }
    .showcase .showcase-inner#da-claudio {
      background: url(../../images/content/restaurant.jpg) right top;
      background-size: cover; }
    .showcase .showcase-inner#tina-scharff {
      background: url(../../images/content/haircut.jpg) center top;
      background-size: cover; }
    .showcase .showcase-inner#travel {
      background: url(../../images/content/travel.jpg) center top;
      background-size: cover; }
    .showcase .showcase-inner#ecoteck {
      background: url(../../images/content/ecoteck.jpeg) center top;
      background-size: cover; }
    .showcase .showcase-inner#asae {
      background: url(../../images/content/asae.jpg) center top;
      background-size: cover; }
    .showcase .showcase-inner > a:link {
      width: 100%;
      height: 100%;
      display: block; }
  .showcase a:link {
    -webkit-transform: skewY(1.5deg);
    -ms-transform: skewY(1.5deg);
    transform: skewY(1.5deg);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 10px;
    padding: 20px;
    z-index: 5;
    text-decoration: none; }
    .showcase a:link p {
      font-size: 22px;
      color: white; }
  .showcase:hover .showcase-inner {
    transform: scale(1.1, 1.1); }
  .showcase.show50:nth-child(even) {
    border-left: 3px solid white; }
    .showcase.show50:nth-child(even) > a:link {
      text-align: right; }
  .showcase.show50:nth-child(odd) {
    border-right: 3px solid white; }
  .showcase.show50 {
    width: 50%; }
  .showcase.show33 {
    width: 33.3%; }
  .showcase.show33:nth-child(3n) > a:link {
    text-align: right; }
  .showcase.show33:nth-child(3n-1) > a:link {
    text-align: center; }
  .showcase.show33:not(:nth-child(3n)) {
    border-right: 3px solid white; }
  .showcase.show33:not(:nth-child(3n-2)) {
    border-left: 3px solid white; }

/*# sourceMappingURL=global.css.map */
